:root {
    --orange: orange;
    --shadow1: 0 1px 15px 2px rgba(0, 0, 0, .3);
    --shadow2: 0 -2px 15px 1px rgba(0, 0, 0, .3);
    --font1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --shadow3: -1px -1px 15px 1px rgba(0, 0, 0, .1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes BackgroundBolerAnimation {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 150%;
    }
    100% {
        background-size: 200%;
    }
}

html {
    scroll-behavior: smooth;
}

img {
    width: 2em;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.orange {
    color: rgb(248, 96, 41);
}

.yellow {
    color: yellow;
}

.blue {
    color: rgba(55, 55, 114, 0.884);
}

.otherBlue {
    color: rgb(65, 106, 153);
}

.green {
    color: rgb(114, 199, 114);
}

.red {
    color: red;
}

.aquaBlue {
    color: rgb(102, 102, 247);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 3em;
    box-shadow: var(--shadow1);
    padding: 0 .5em;
    z-index: 9;
    background-color: white;
}

.scroll-tracker {
    height: .3rem;
    background-color: orange;
    position: sticky;
    top: 3em;
    left: 0;
    right: 0;
    width: 0%;
    z-index: 5;
    /*     transform-origin: left; */
    border-radius: 0 1em 1em 0;
}

header .navigation {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 50%;
}

.exit,
.menu {
    display: none;
}

header .logo-and-menu {
    display: flex;
    place-items: center;
}

header .logo-and-menu .logo img {
    width: 5em;
}

header .navigation .nav {
    width: 80%;
}

header .navigation .nav ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    gap: 1em;
}

header .navigation .nav ul li {
    display: flex;
    place-items: center;
    width: 10em;
}

header .navigation .nav nav ul li a {
    font-family: var(--font1);
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: #eee;
    padding: .4em .4em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: .8em;
    transition: all ease-in-out .22s;
    border-radius: .3em;
}

header .navigation .nav nav ul li a:hover {
    background-color: orange;
    color: aliceblue;
}

main {
    overflow: hidden;
}

main .hero {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    place-items: center;
    min-height: 30em;
    clip-path: polygon(51% 0, 100% 0, 100% 80%, 55% 100%, 0 80%, 0 0);
    padding: 1em;
    color: #fff;
    background-image: url('../image/pexels-luis-quintero-4005569.jpg');
    background-position: center;
    /* background-size: cover; */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .7);
    -webkit-animation: BackgroundBolerAnimation 20s ease infinite;
    animation: BackgroundBolerAnimation 25s ease infinite alternate-reverse;
}

main .hero .image img {
    width: 25em;
    filter: contrast(100%) saturate(90%) brightness(80%);
}

main .hero .name-component {
    max-width: 35em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: var(--shadow1);
    padding: 1em;
    margin-bottom: 2em;
}

main .hero .name-component .name .top-name {
    font-size: 1em;
    font-family: var(--font1);
    padding-left: 1em;
}

main .hero .name-component .name .middle-name {
    font-size: 1.6em;
    font-family: var(--font1);
}

main .hero .name-component article p {
    font-size: .7em;
    font-family: var(--font1);
}

main .hero .name-component .information {
    display: flex;
    flex-direction: column;
    gap: .3em;
    font-size: .7em;
}

main .hero .name-component .information .cont {
    display: flex;
    gap: 1em;
}

main .some-detail-description {
    width: 65em;
    display: flex;
    flex-wrap: wrap;
    margin: 3em auto 3em auto;
    gap: 3em;
    justify-content: center;
}

main .some-detail-description .cont {
    width: 30em;
    background-color: #eee;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    transition: all ease-in-out .22s;
}

main .some-detail-description .cont:hover {
    transform: scale(105%);
    box-shadow: var(--shadow3);
    background-color: #e9e6e6;
}

main .some-detail-description .cont article p {
    transition: all ease-in-out .22s;
    color: #eee;
}

.bold {
    font-weight: bold;
    color: aliceblue;
}

.anotherbold {
    font-weight: bold;
}

main .some-detail-description .cont .title h3 {
    font-size: 2em;
    font-family: var(--font1);
}

main .some-detail-description .cont article p {
    color: grey;
    font-family: var(--font1);
    font-style: italic;
    font-size: .9em;
}

main .about-me-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em;
}

main .about-me-container .card-container {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 2em;
    place-items: center;
    justify-content: space-between;
    background-color: #eee;
    transition: all ease-in-out .22s;
}

main .about-me-container .card-container:hover {
    /* transform: scale(105%); */
    background-color: #e9e6e6;
    box-shadow: var(--shadow3);
}

main .about-me-container .card-container .discription {
    width: 40%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .about-me-container .card-container .discription .title h3 {
    font-size: 2em;
    font-family: var(--font1);
}

main .about-me-container .card-container .discription article p {
    font-size: .8em;
    font-family: var(--font1);
    color: grey;
    font-style: italic;
}

main .about-me-container .card-container .image {
    width: 60%;
    display: flex;
    justify-content: center;
    place-items: center;
}

main .about-me-container .card-container .image .profile {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0 0 30px 3px orange;
    background-color: #eee;
    cursor: pointer;
    position: relative;
}

main .about-me-container .card-container .image .profile img {
    width: 60%;
}

main .about-me-container .card-container .image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

main .card-container .discription .skill-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .card-container .discription .skill-container .label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: .7em;
    font-family: var(--font1);
}

main .card-container .discription .skill-container .bar-and-percent {
    width: 100%;
    display: flex;
    gap: 1em;
    place-items: center;
    justify-content: center;
}

main .card-container .discription .skill-container .bar-and-percent .percent {
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 1em;
}

main .card-container .discription .skill-container .bar-and-percent .label .skill-bar {
    width: 100%;
    height: 1em;
    background-color: aliceblue;
    position: relative;
    border-radius: 0 1em 1em 0;
    overflow: hidden;
}

main .card-container .discription .skill-container .bar-and-percent .label .skill-bar::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: .1em 1em 1em .1em;
    right: 0;
}

#html::before {
    width: 90%;
    background-color: rgb(248, 96, 41);
}

#javascript::before {
    width: 70%;
    background-color: yellow;
}

#css::before {
    width: 85%;
    background-color: rgb(115, 215, 248);
}

#vuejs::before {
    width: 55%;
    background-color: rgb(114, 199, 114);
}

#laravel::before {
    width: 60%;
    background-color: red;
}

#mysql::before {
    width: 57%;
    background-color: rgb(102, 102, 247);
}

main .testimonial-hero {
    width: 80%;
    margin: auto;
    min-height: 20em;
    display: flex;
    gap: 1em;
    justify-content: center;
    place-items: center;
}

main .testimonial-hero .right {
    width: 50%;
}

main .testimonial-hero .right .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}

main .testimonial-hero .right .image-container img {
    width: 100%;
}

main .testimonial-hero .left {
    width: 60%;
    padding: 1em;
    background-image: url('../image/images\ \(2\).jpeg');
    background-position: center;
    background-size: cover;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 1em;
}

main .testimonial-hero .left .title h3 {
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 1.4em;
    color: rgb(2, 2, 71);
}

main .testimonial-hero .left article p {
    text-align: center;
    font-family: var(--font1);
    font-size: .8em;
    color: rgb(2, 2, 70);
    font-weight: bolder;
}

main .testimonial-topic-container {
    width: 80%;
    margin: 2em;
    margin: 2em auto 2em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

main .testimonial-topic-container .topic {
    padding: .4em;
    min-height: 15em;
    background-color: black;
    color: aliceblue;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .22s;
}

main .testimonial-topic-container .topic:hover {
    /* transform: scale(105%); */
    background-color: rgb(27, 25, 25);
    box-shadow: var(--shadow1);
}

main .testimonial-topic-container .topic .image img {
    width: 7em;
}

main .testimonial-topic-container .topic .title h4 {
    font-size: 1.4em;
    font-family: var(--font1);
    font-weight: bolder;
}

main .testimonial-topic-container article {
    width: 70%;
}

main .testimonial-topic-container article p {
    font-size: .8em;
    text-align: center;
    font-family: var(--font1);
}

main .contact-layout {
    width: 80%;
    min-height: 20em;
    margin: 1em auto 1em auto;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: all ease-in-out .22s;
}

main .contact-layout:hover {
    transform: scale(105%);
}

main .contact-layout .left-information {
    width: 48%;
    min-height: 15em;
    box-shadow: var(--shadow3);
    padding: 2em;
    border-radius: 1em 0 0 1em;
}

main .contact-layout .left-information .cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .contact-layout .left-information .cont .title h3 {
    font-family: var(--font1);
    font-weight: bolder;
    font-size: 2em;
}

main .contact-layout .left-information .cont .some-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

main .contact-layout .left-information .cont .some-info .infos {
    width: 100%;
    display: flex;
    gap: 1em;
}

main .contact-layout .left-information .cont .some-info .infos span {
    font-family: var(--font1);
    color: grey;
}

main .contact-layout .left-information .cont .some-info .infos .bold {
    font-weight: bold;
}

main .contact-information {
    width: 36%;
    background-color: black;
    color: aliceblue;
    box-shadow: var(--shadow3);
    min-height: 19em;
    padding: 2em;
    border-radius: .3em;
}

main .contact-information .cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .contact-information .cont .title h3 {
    font-weight: bolder;
    font-family: var(--font1);
    font-size: 2em;
}

main .contact-information .cont .some-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4em;
    place-items: center;
    justify-content: center;
    padding: 1em;
}

main .contact-information .cont .some-info .infos {
    width: 100%;
    display: flex;
    gap: .3em;
}

main .contact-information .cont .some-info .infos .circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: rgba(128, 128, 128, 0.534);
    cursor: pointer;
}

main .contact-information .cont .some-info .infos .bold {
    font-size: .75em;
    font-family: var(--font1);
    font-weight: bold;
    margin: auto 0;
}

.footer {
    margin-top: 1em;
    display: grid;
    grid-template-rows: .5fr .5fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer footer {
    grid-row: 2/4;
    grid-column: 1/4;
    background-color: black;
    padding: 2em 10em;
    color: #fff;
    box-shadow: var(--shadow2);
}

.footer footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-top: 2em;
    padding: 1em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.footer footer .container .left img {
    width: 6em;
}

.footer footer .container .right {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: .7em;
}

.footer footer .container .right .row {
    display: flex;
    gap: 1em;
}

.footer .footer-hero {
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    z-index: 9;
    background-color: #fff;
    box-shadow: var(--shadow2);
    border-radius: .4em;
}

.footer .footer-hero .image {
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}

.footer .footer-hero .image img {
    width: 3em;
    height: 3em;
    object-fit: cover;
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: .4em;
}

.footer .bottom .left {
    color: gold;
    font-family: var(--font1);
    font-size: .8em;
}

.footer .bottom .right ul {
    display: flex;
    list-style-type: none;
    gap: .4em;
    justify-content: center;
    place-items: center;
}

.footer .bottom .right ul li a {
    color: gold;
}

.displayNavigation {
    top: 0;
}

@media(max-width:1000px) {
    header .navigation {
        width: 70%;
    }
    main .some-detail-description {
        width: 100%;
    }
    main .some-detail-description .cont {
        width: 25em;
    }
}

@media(max-width:750px) {
    .exit,
    .menu {
        display: block;
    }
    main .hero .image img {
        width: 15em;
    }
    header .logo-and-menu .menu button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    header .logo-and-menu .menu button img {
        transition: all ease-in-out .22s;
    }
    header .logo-and-menu .menu button:hover>img {
        filter: invert(50%);
    }
    header .navigation {
        width: 100%;
        position: absolute;
        top: -20em;
        left: 0;
        right: 0;
        height: 15em;
        display: flex;
        justify-content: center;
        place-items: center;
        background-color: #fff;
        box-shadow: var(--shadow1);
        z-index: 10;
        transition: all ease-in-out .22s;
    }
    .exit {
        position: absolute;
        top: .5em;
        left: .5em;
    }
    .exit button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .exit button img {
        transition: all ease-in-out .22s;
    }
    .exit button:hover>img {
        filter: invert(50%);
    }
    header .navigation .nav nav ul {
        flex-direction: column;
    }
    header .navigation .nav nav ul li {
        width: 100%;
    }
    header .navigation .nav nav ul li a {
        justify-content: space-between;
    }
    main {
        width: 100%;
    }
    main .hero {
        flex-direction: column;
    }
    main .hero .name-component {
        margin-bottom: 0;
    }
    .footer footer {
        padding: 2em;
    }
    main .some-detail-description {
        width: 100%;
    }
    main .some-detail-description .cont {
        width: 100%;
        background-color: #eee;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: .4em;
        transform: scale(95%);
        transition: all ease-in-out .22s;
    }
    main .some-detail-description .cont:hover {
        transform: scale(100%);
        box-shadow: var(--shadow1);
    }
    main .some-detail-description .cont .title h3 {
        font-size: 1.6em;
    }
    main .some-detail-description .cont article p {
        font-size: .8em;
        color: grey;
    }
    main .some-detail-description {
        max-width: 50em;
        margin: auto;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    main .about-me-container .card-container {
        flex-direction: column;
    }
    main .about-me-container .card-container .discription {
        order: 2;
        width: 95%;
    }
    main .about-me-container .card-container .image {
        width: 100%;
    }
    main .testimonial-hero {
        flex-direction: column;
    }
    main .testimonial-hero .right {
        width: 100%;
    }
    main .testimonial-hero .right .image-container img {
        width: 80%;
    }
    main .testimonial-hero .left {
        order: 2;
        min-height: 20em;
    }
    main .testimonial-topic-container {
        grid-template-columns: repeat(2, 1fr);
    }
    main .testimonial-topic-container .topic:hover {
        transform: scale(110%);
    }
    main .testimonial-topic-container .topic .image img {
        width: 6em;
    }
    main .testimonial-topic-container article {
        width: 100%;
    }
    main .about-me-container .card-container .image .profile {
        margin-top: 1em;
    }
    main .contact-layout {
        flex-direction: column;
    }
    main .contact-layout .left-information {
        width: 80%;
        border-radius: 1em 1em 0 0;
    }
    main .contact-information {
        width: 90%;
    }
    .footer {
        grid-template-columns: .5fr 3fr .5fr;
    }
}

header .navigation .nav nav ul li .activeLink {
    background-color: orange;
    color: aliceblue;
}